body{
    margin:0rem;
    font-family: arial;
    background:#f7f7f7;
    justify-content: center;
}

.introducao::before{
    content: "";
    display: block;
    width: 4rem;
    height: 0.3rem;
    background: #ee2211;
    position: absolute;
    top: 2rem;
    right: -2rem;
}

h1{
    text-align: center;
    margin: 0rem;
    padding: 3.5rem 3.5rem;
}


a{  
    display: flex;
    border: 2px white solid;
    padding:1rem 2rem;
    background: white;
    text-decoration: none;
    border-radius: 0.3rem;
    color: #111;
    display: block;
    justify-content: center;
}

li a:hover{
    border: 0.125rem solid #ee2211;
}

.introducao a:hover{
   background: #900;
}

footer{
    text-align: center;
    padding: 2rem;
    background: white;
}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom:3.15rem;
    list-style: none;
    gap: 1.25rem;
}

.conteudo{
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 62.5rem;
    margin: auto; 
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.introducao{
    background: white;
    padding: 1.25rem;
    text-align: right;
    position: relative;
    display: grid;
    justify-items: end;
    align-items: center;
}

.introducao h1{
    font-size: 2rem;
    padding: 0rem;
    font-size: 2rem;
}

.introducao a{
    background: #ee2211;
    color: white;
}

p{  
    list-style: none;
    font-size:1.25rem;
    letter-spacing: 1px;
    line-height:1.3;
    margin: 0rem;
}


.lista{
    margin: 1.25rem;
    padding: 0.62rem;
    text-align: left;
    list-style: none;
    font-size:1.25rem;
    letter-spacing: 1px;
    line-height:1.3;
    border-left: 0.25rem transparent solid;
}

h2{
    text-align: left;
    margin:0px;
}

.lista:nth-child(odd){
    background: #f7f7f7;
}

.icones{
    width: 1.87rem;
    margin-right: 0.62rem;
}

ul{ 
    margin: 0px;
    padding: 0px;
}

.icones{
    margin-left: 0.31rem;
}

.lista:hover{
    border-left: 0.25rem #e21 solid;
}

h3{ 
    background-image: url(imagem/Lines-No-Background.png);
    font-size: 4rem;
    color: #c6c6c6;
    align-self: center;
    text-align: center;
    padding: 1.87rem;
}


.lista p{
    margin-left: 3.43rem;
}

@media (max-width: 900px){
    .conteudo{
        grid-template-columns: 1fr;
    }
    .introducao::before{
        content: none;
        display: block;
        width: 4rem;
        height: 0.3rem;
        background: #ee231100;
        position: absolute;
        top: 2rem;
        right: -2rem;
        }
     h1{
        padding: 1rem 1rem;
     }
     .menu{display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }     
}
@media (max-width: 820px){
    .menu{
        display: none;
    }
    #burger{
        display: block;
        padding: 10px;
    }
}

@media (min-width: 821px){
    #burger{
        display: none;
    }
}